.App-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    border-top: 5px solid #00003C;
    border-bottom: 5px solid #00003C;
}

.App-body p {
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1rem 2rem 1rem 4rem;
}


.App-body form {
    font-family: 'Galano Grotesque Alt', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.5rem 2rem 1rem 4rem;
}

.App-body label {
    padding-right: 0.5rem;
}

.App-body form input,
.App-body form button {
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0.5rem;
    padding: 0.2rem;
    border: 1px solid #00003C;
    border-radius: 2px;
    max-width: calc(50% - 2rem);
}

.App-body form button {
    background-color: #00003C;
    color: white;
}
