.Notifications {
  padding: 20px;
  border: 2px dashed red;
  /* top: 0;
  right: 0;
  position: absolute; */
  display: flex;
  flex-direction: row;
}


.NotifcationItem.default {
  color: blue;
}

.NotifcationItem.urgent {
  color: red;
}
