
table {
    border: 1px solid #ddd;
    margin: 30px 50px;
    width: calc(100% - 100px);
  }
  thead tr:not(:first-child) {
    text-align: left;
  }
  
  thead th {
    border-bottom: 3px solid #ddd;
  }
  
  tbody tr {
    text-align: left;
  }
