/* .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: red;
    border-bottom: 5px solid red;
    font-weight: bold;
    font-size: 30px;
  } */
  .App-header img {
    height: 200px;
    margin-right: 10px;
  }
/*   
  .App-body {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    min-height: 50vh;
    border-bottom: 5px solid red;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .input-wrapper input {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  
  .App-footer {
    display: flex;
    justify-content: center;
    font-style: italic;
  }
   */
